<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<body class = "bg-dark bg-gradient" style="--bs-bg-opacity: .4;">

<h1 class = "display-1 mb-5">Movie Lovers</h1>

<div class="d-grid gap-2 col-6 mx-auto">
<a class="mt-5 btn btn-outline-dark btn-lg btn-block" href="/movies" >Click To See Movies We Love</a>
</div>
<div class="position-absolute bottom-0 start-0 mb-5">
<h4 class = "display-6">How does it work</h4>
<p>We have movie infomation for top 250 movies. By clicking the button above, you will get the recommendations from us.
    If you are interested in the movies we recommended, click new recommendations to refresh it. You can also add movies you Lover
    to our top list or edit/delete the existing movies. After finding the movie you love and watch it, don't forget to leave a comment.
</p>
</div>

