<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" type = "text/css" href="/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">

<!-- <body class = "bg-dark bg-gradient" style="--bs-bg-opacity: .4;"> -->

<h1 class = "display-1 mb-5 home">Movie Lovers</h1>

<div class="d-grid gap-2 col-6 mx-auto">
<a class="home-title mt-5 btn btn-lg btn-block" href="/movies" >Click To See Movies We Love</a>
</div>
<div class="hometext position-absolute bottom-0 start-0 mb-5 bg-light bg-gradient rounded-3 p-3" style="--bs-bg-opacity: .4">
<h4 class = "display-6">How does it work</h4>
<p>We have movie infomation for top 250 movies. By clicking the button above, you will get the recommendations from us.
    If you are interested in the movies we recommended, click new recommendations to refresh it. You can also add movies you Lover
    to our top list or edit/delete the existing movies. After finding the movie you love and watch it, don't forget to leave a comment.
</p>
</div>

