body {
    background-image: url("https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolour-4117017_960_720.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}