body {
    background-image: url("https://cdn.pixabay.com/photo/2017/09/12/22/06/background-2743842_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

h1 {
    margin: 20px 0 0 50px;
}

.buttonParent {
    display: flex;
    flex-direction: row;
}

.title {
    text-decoration: none;
    color: black;
    text-shadow: whitesmoke 2px 1px 20px;
}

.edit{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.delete{
    width: 70px;
    height: 40px;
    margin-top: 2px;
}


